* {
    margin: 0;
    font-family: arial;
    border: border-box;

}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url("/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/** BOX2 **/
.adress-first {
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 20px;
}

.adress-second {
    color: white;
    font-size: 1rem;
}

.add-icon {
    display: flex;
    
}

/** BOX-03**/
.nav-search {
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    margin: 15px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    background-color: #febd68;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

/**BOX-04**/
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size:0.85rem ;
    font-weight: 700;
}

/**BOX-6**/
 .nav-cart i {
    font-size: 1.8rem;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight:700 ;
}

/**PANEL SECTION**/
.panel {
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 17px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/**HERPO-SECTION**/
.hero-section {
    background-image: url("/HERO_IMAGE.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-msg {
    background-color: white;
    color: black;
    height: 40px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    
}

.hero-msg a {
    text-decoration: none;
    color: #007185;
}

/**SHOP-SECTION**/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fdf0d5 ;
}

.box {
    height: 400px;
    width: 21.7%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 15px ;
    margin-right: 15px;
}

.box-content a {
    text-decoration: none;
    color:#007185;
}

/** FOOTER **/
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

ul p {
    margin-top: 20px;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;  
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    
}

.pages {
    padding-top: 25px;
}

.copyright {
    padding-top:5px ;
}